:root {
  --header: rgb(84, 36, 146);
  --bkg-clr: rgb(37, 37, 37);
  --text-clr: rgb(240, 240, 240);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  min-height: 100vh;
  background-color: var(--bkg-clr);
}

.header {
  padding: 2rem;
  text-align: center;
  background-color: var(--header);
  color: var(--text-clr);
}

.header--title {
  font-size: 48px;
  font-weight: 700;
}

.main {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem;
  background-color: var(--bkg-clr)!important;
  color: var(--text-clr);
}

.close {
  cursor: pointer;
  width: fit-content;
}


.intro-card {
  margin-top: 3rem;
}

.learn-button-card {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: .5rem;
  border-bottom: 1px solid lightgray;
}

.btn {
  margin-left: auto;
}

.btn-learn {
  margin-left: auto;
  background-color: var(--header);
  padding: .25rem;
  border: none;
  border-radius: .25rem;
}